ARG ARCH=
FROM ${ARCH}fedora:38
MAINTAINER Peter Jones <pjones@redhat.com>

RUN dnf --releasever=38 --nodocs -y --best --allowerasing --disablerepo='*' --enablerepo=fedora --enablerepo=updates install dnf-plugins-core
RUN dnf --releasever=38 config-manager --set-disabled '*'
RUN dnf --releasever=38 config-manager --set-enabled fedora
RUN dnf --releasever=38 config-manager --set-enabled updates
# increment this to force an update
RUN echo 0
RUN dnf --releasever=38 --nodocs -y --best --allowerasing update
RUN dnf --releasever=38 --nodocs -y --best --allowerasing install grub2-tools grub2-tools-minimal
RUN dnf --releasever=38 --nodocs -y --best --allowerasing install systemd-boot-unsigned systemd-ukify
RUN dnf --releasever=38 --nodocs -y --best --allowerasing install kernel
RUN dnf --releasever=38 --nodocs -y --best --allowerasing install dracut-network
RUN dnf --releasever=38 --nodocs -y --best --allowerasing install grub2-emu binutils
COPY 99grub2-emu/* /usr/lib/dracut/modules.d/99grub2-emu/
COPY etc/dracut-grub2.conf.d/grub2-emu.conf /etc/dracut-grub2.conf.d/
COPY etc/dracut.conf.d/grub2-emu.conf /etc/dracut.conf.d/ 
COPY etc/grub.d/10_linux /etc/grub.d/
RUN dracut --verbose --confdir /etc/dracut-grub2.conf.d/ --no-hostonly \
	/nmbl.initramfs.img \
	$(ls -1 -t /boot/vmlinuz-* | tail -1 | sed 's,/boot/vmlinuz-,,')
RUN /usr/lib/systemd/ukify -o /nmbl.uki \
	--os-release @/etc/os-release \
	--uname $(ls -1 -t /boot/vmlinuz-* | tail -1 | sed 's,/boot/vmlinuz-,,') \
	--efi-arch x64 \
	--stub /usr/lib/systemd/boot/efi/linuxx64.efi.stub \
	$(ls -1 -t /boot/vmlinuz-* | tail -1) \
	"/nmbl.initramfs.img"
